*
{
    margin: 0;
    padding: 0;

    font-family: 'Baloo Bhaijaan 2', cursive;
    /* overflow-y: hidden; */
    overflow-x: hidden;
}

#brand
{
    border-radius: 120px;
    height: 84px;
}
#top
{
    display: flex;
        background-color: black;
        color: white;

    }

#top_h1_div
{
    width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
}


#top_h1 h1{
    font-family: 'Rubik Dirt', cursive;
    text-decoration: underline;
     text-decoration-color:aqua ;
     text-decoration-style:dotted ;
    font-size: 34px;
}


#Content
{
position: relative;
height: 100%;
width: 100%;
 display: flex;
flex-direction: column;
background-image: linear-gradient(to right,black,white,black,white);

}

#Content_card
{
    display: flex;
    background-color: #000000c7;
    color: white;
    margin-top: 50px;
}

#Content_card_link_div
{
    margin: 10px auto;
}

#Content_card_link
{
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 500px; */
    padding: 18px;
}

#Content_card_link:hover
{
background-color: rgba(255, 255, 255, 0.619);
color: black;
border-radius: 36px;
font-weight: bolder;
}


#brand_1
{
    height: 103px;
}
#brand_2
{
    height: 136px;
}
#brand_3
{
    height: 100px;
}
#brand_4
{
    height: 103px;
}
#brand_5
{
    width: 135px;
    height: 128px;
}

#Content_card_add
{
    background-color: #000000c7;
    margin: 25px auto;
        padding: 12px;
}

#Content_card_add:hover
{
   background-color:  #4ed54ef2;
    border-radius: 17px;
    cursor: pointer;
}

#footer
{
    background-color: black;
    color: white;
text-align: center;
}
